

.sidebar {
    background: #020509;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 4.5s;
    transition: all 4.5s;
    color: white;
    transition: left .3s ease
}


.sidebar-img {
    display: flex;
    align-items: center;
}


.sidebar-title > div > img {
    width: 35px;
    object-fit: contain;
}

.sidebar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 30px;
    margin-bottom: 30px;
    font-size: .8rem;
}

    .sidebar-title  h1 > span {
        color: #32a175;
    }

.sidebar-menu > h2 {
    color: #32a175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar-link {
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.active-menu-link {
    background: rgb(62, 161, 117, 0.3);
    color: #3ea175;

}

.sidebar-link a {
    text-decoration: none;
    color: #a5aaad;
    font-weight: 800;
    cursor: pointer;
}

    .sidebar-link a:hover {
        color: #3ea175;
    }

.sidebar-logout {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 20px;
    padding: 10px;
    color: #e65061;
    align-items: center;
}

.sidebar-logout > a {
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;


}

.sidebar-resonsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
    height: 95vh;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}


@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}


.close-sidebar {
    padding: 0 0 0 13px;
    cursor: pointer;
}

@media only screen and (max-width: 1220px ) and (min-width: 1000px){
    .sidebar-link a {
        
        font-weight: 800;
        font-size: .7rem;
        
    }

}

@media only screen and (min-width: 1200px) {
    .close-sidebar {
        display: none;
    }

    .sidebar-title {
       
        font-size: 1.1rem;
    }
}


