:root {
    --grey-color: #aa55aad;
    --blue-color: #2e4a66;
    --lightblue-color: #496cac;
    --red-color: #cc3d38;
    --yellow-color: #a98921;
    --green-color: #3b9668;
    --sidebar-color: #020509;
}

* {
    padding: 0px;
    margin: 0px;
}


body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

.text-primary-p {
    color: var(--grey-color);
    font-size: 14px;
    font-weight: 700;
}

.font-bold {
    font-weight: 800;
}

.text-title{
    color: var(--blue-color)
}

.text-lightblue {
    color: var(--lightblue-color);

}

.text-red {
    color: var(--red-color);
}

.text-yellow {
    color: var(--yellow-color)
}

.text-green {
    color: var(--green-color)
}

/*Container And Nav*/

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar nav nav nav"
        "sidebar main main main";
}





/* Media quires And Responsive Design*/

@media only screen and (max-width: 978px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0,2fr 3fr;
        grid-template-areas:
            "nav"
            "main"
    }

    .sidebar {
        display: none;
    }

    
}

